.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  
   
 
}
.btn{
    padding: 10px;
    margin-top: 20px;
    border-radius:5px ;
    box-shadow: grey 2px 2px 2px;
    border: none;
    
}
button{
    color: white;
}






